<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
body {
  min-height: 98vh;
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
body {
  min-height: 98vh;
}
>>>>>>> b665549cb1d5913634b2fc81f7e24b674029856a
