header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    .subdiv{
        display: flex;
        .info{
            display: flex;
            padding: 20px;

            .email{
                padding-left: 180px;
            }
            i{
                background-color: $main-color;
                padding: 12px;
                border-radius: 50%;
                color: white;
            }
    }
    
    }
}